/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFFFFF !important;
  /* center headings */
  text-align: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}